# Part 1: Pandas - from Zero to Hero

## Pandas Series

### First Steps with Pandas Series

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("titanic.csv")

In [3]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [6]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [7]:
type(titanic["age"])

pandas.core.series.Series

In [10]:
titanic.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [11]:
titanic["age"].equals(titanic.age)

True

In [12]:
age = titanic["age"]

In [13]:
age.head(2)

0    22.0
1    38.0
Name: age, dtype: float64

In [14]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [15]:
age.dtype

dtype('float64')

In [16]:
age.shape

(891,)

In [17]:
len(age)

891

In [18]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [19]:
age.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: age
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [21]:
age.to_frame()

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [20]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

###  Analyzing Numerical Series

In [ ]:
age

In [ ]:
age.describe()

In [ ]:
age.count()

In [ ]:
age.size

In [ ]:
len(age)

In [ ]:
age.sum(skipna = False)

In [ ]:
sum(age)

In [ ]:
age.mean()

In [ ]:
age.median()

In [ ]:
age.std()

In [ ]:
age.min()

In [ ]:
age.max()

In [ ]:
age.unique()

In [ ]:
len(age.unique())

In [ ]:
age.nunique(dropna = False)

In [ ]:
age.value_counts()

In [ ]:
age.value_counts(sort = True)

In [ ]:
age.value_counts(sort = False)

In [ ]:
age.value_counts(dropna = True)

In [ ]:
age.value_counts(dropna = False)

In [ ]:
age.value_counts(ascending = False)

In [ ]:
age.value_counts(ascending = True)

In [ ]:
age.value_counts(sort = True, dropna = True, ascending = False, normalize = False)

In [ ]:
age.value_counts(sort = True, dropna = True, ascending = False, normalize = True)

In [ ]:
30/age.count()

In [ ]:
age.value_counts(sort = True, dropna = False, ascending = False, normalize = True)

In [ ]:
30/age.size

In [ ]:
age.value_counts(sort = True, dropna = True, ascending= False, normalize = False, bins = 5)

In [ ]:
age.value_counts(sort = True, dropna = True, ascending= False, normalize = True, bins = 10)

### Analyzing non-numerical Series

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer.info()

In [ ]:
athlete = summer["Athlete"]

In [ ]:
athlete.head()

In [ ]:
athlete.tail(5)

In [ ]:
type(athlete)

In [ ]:
athlete.dtype

In [ ]:
athlete.shape

In [ ]:
athlete.describe()

In [ ]:
athlete.size

In [ ]:
athlete.count()

In [ ]:
athlete.min()

In [ ]:
athlete.unique()

In [ ]:
len(athlete.unique())

In [ ]:
athlete.nunique(dropna= False)

In [ ]:
athlete.value_counts()

In [ ]:
athlete.value_counts(sort = True, ascending=True)

In [ ]:
athlete.value_counts(sort = True, ascending=False, normalize = True).head()

### Creating Pandas Series (Part 1)

In [ ]:
import pandas as pd

#### from DataFrame

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer["Athlete"]

In [ ]:
summer.Athlete

In [ ]:
summer.iloc[0]

#### Importing from CSV

In [ ]:
pd.read_csv("summer.csv", usecols = ["Athlete"], squeeze = True) # old

In [ ]:
pd.read_csv("summer.csv", usecols = ["Athlete"]).squeeze("columns") # new

#### Creating from scratch with pd.Series()

In [ ]:
pd.Series([10,25,6,36,2])

In [ ]:
#pd.Series([10,25,6,36,2], index=["Mon","Tue","Wed","Thu", "Fri", "Sat"])

In [ ]:
pd.Series([10,25,6,36,2], index=["Mon","Tue","Wed","Thu", "Fri"], name = "Sales")

### Creating Pandas Series (Part 2)

#### from Numpy Array

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sales = np.array([10,25,6,36,2])
sales

In [ ]:
pd.Series(sales)

#### from List

In [ ]:
sales = [10,25,6,36,2]

In [ ]:
pd.Series(sales)

#### from Dictionary

In [ ]:
dic = {"Mon":10, "Tue":25, "Wed":6, "Thu": 36, "Fri": 2}
dic

In [ ]:
sales = pd.Series(dic)

In [ ]:
sales

In [ ]:
pd.Series(dic, index = ["Fri", "Sat", "Sun", "Mon", "Tue", "Wed"])

In [ ]:
pd.Series(dic, index = [1,2,3,4,5])

### Indexing and Slicing

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
age = titanic.age

In [ ]:
age.head()

In [ ]:
age.tail()

In [ ]:
age.index

In [ ]:
age[0]

In [ ]:
age[2]

In [ ]:
age.iloc[-1]

In [ ]:
age[890]

In [ ]:
age[[3,4]]

In [ ]:
age.loc[:3]

In [ ]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [ ]:
summer.head()

In [ ]:
event = summer.Event

In [ ]:
event.head()

In [ ]:
event.tail()

In [ ]:
event.index

In [ ]:
event[0] # deprecated and removed in the future

In [ ]:
event[1]  # deprecated and removed in the future

In [ ]:
event.iloc[-1]

In [ ]:
event.iloc[:3]

In [ ]:
event["DRIVAS, Dimitrios"]

In [ ]:
event[:"DRIVAS, Dimitrios"]

In [ ]:
event.loc["PHELPS, Michael"]

In [ ]:
event.loc["PHELPS, Michael"].equals(event["PHELPS, Michael"])

In [ ]:
#event[:"PHELPS, Michael"]

In [ ]:
event.loc[["PHELPS, Michael", "LEWIS, Carl"]]

In [ ]:
#event[["PHELPS, Michael", "DUCK, Donald"]]

### Sorting and introduction to the  inplace-parameter

In [ ]:
import pandas as pd

In [ ]:
dic = {1:10, 3:25, 2:6, 4:36, 5:2, 6:0, 7:None}
dic

In [ ]:
sales = pd.Series(dic)
sales

In [ ]:
sales.sort_index()

In [ ]:
sales.sort_index(ascending = True, inplace= True)

In [ ]:
sales

In [ ]:
sales.sort_values(inplace=False)

In [ ]:
sales.sort_values(ascending=False, na_position="last", inplace= True)

In [ ]:
sales

In [ ]:
dic = {"Mon":10, "Tue":25, "Wed":6, "Thu": 36, "Fri": 2}
dic

In [ ]:
sales = pd.Series(dic)

In [ ]:
sales

In [ ]:
sales.sort_index(ascending=False)

### nlargest() and nsmallest()

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
age = titanic.age

In [ ]:
age.head()

In [ ]:
age.sort_values(ascending=False).head(3)

In [ ]:
age.sort_values(ascending=True).iloc[:3]

In [ ]:
age.nlargest(n = 3).index[0]

In [ ]:
age.nsmallest(n = 3).index[0]

### idxmin() and idxmax()

In [ ]:
titanic.head()

In [ ]:
titanic.age.idxmax()

In [ ]:
titanic.age.idxmin()

In [ ]:
titanic.loc[630]

In [ ]:
titanic.loc[titanic.age.idxmin()]

In [ ]:
dic = {"Mon":10,"Tue":25, "Wed":6, "Thu":36, "Fri":2, "Sat":0, "Sun":None}
dic

In [ ]:
sales = pd.Series(dic)
sales

In [ ]:
sales.sort_values(ascending=True).index[0]

In [ ]:
sales.idxmin()

In [ ]:
sales.sort_values(ascending=False).index[0]

In [ ]:
sales.idxmax()

### Manipulating Series

In [ ]:
import pandas as pd

In [ ]:
sales = pd.Series([10,25,6,36,2,0,None,5], index = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun", "Mon"])
sales

In [ ]:
sales["Sun"] = 0

In [ ]:
sales

In [ ]:
sales.iloc[3] = 30

In [ ]:
sales

In [ ]:
(sales/1.1).round(2)

In [ ]:
sales_EUR = (sales/1.1).round(2)
sales_EUR

In [ ]:
sales = (sales/1.1).round(2)

In [ ]:
sales

In [ ]:
sales["Mon"] = 0

In [ ]:
sales

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
age = titanic["age"]

In [ ]:
age.head()

In [ ]:
age.tail()

In [ ]:
age.iloc[1] = 30

In [ ]:
age.head()

In [ ]:
titanic.head()